n8n-workflows/workflow-2-gerar-conteudo.json
{
  "name": "ImobCreator — Workflow 2: Gerar Conteúdo Final",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-agent-gerar-conteudo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-2",
      "name": "Webhook: Receber Seleção",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, job_id: $json.body.job_id }) }}",
        "options": {}
      },
      "id": "respond-immediately-2",
      "name": "Resposta Imediata 202",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [400, 160]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/ai_agent_jobs?id=eq.{{ $json.body.job_id }}",
        "method": "PATCH",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\"status\": \"generating\", \"phase\": 2, \"selected_option_id\": \"{{ $json.body.selected_option_id }}\"}",
        "options": {}
      },
      "id": "update-status-generating",
      "name": "Supabase: Status = generating",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build the generation prompt based on format and selected option\nconst body = $('Webhook: Receber Seleção').item.json.body;\nconst { format, canal, topic, selected_option, brand_snapshot } = body;\n\nlet formatInstructions = '';\nif (format === 'post') {\n  formatInstructions = `Crie um post único para ${canal}. Retorne: caption completa pronta para publicar com hashtags relevantes (máximo 30), e uma descrição visual detalhada para geração de imagem (prompt de imagem).`;\n} else if (format === 'carousel') {\n  formatInstructions = `Crie um carrossel de 5 slides para ${canal}. Para cada slide retorne: título do slide, texto do slide (máximo 50 palavras), e descrição visual para a imagem de fundo.`;\n} else if (format === 'reel') {\n  formatInstructions = `Crie um roteiro de Reels de 30 segundos para ${canal}. Retorne: script narrado (máximo 120 palavras), legenda do vídeo com hashtags, e orientações de edição/corte por cena.`;\n}\n\nreturn [{\n  json: {\n    prompt: `Você é um especialista em marketing imobiliário e criação de conteúdo para redes sociais brasileiras.\\n\\nDados do cliente:\\n- Empresa: ${brand_snapshot?.company_name || 'Corretor/Imobiliária'}\\n- Estilo de linguagem: ${brand_snapshot?.language_style || 'profissional'}\\n- Público-alvo: ${brand_snapshot?.target_audience || 'compradores e investidores'}\\n- Cidade: ${brand_snapshot?.city || ''}${brand_snapshot?.state ? ', ' + brand_snapshot.state : ''}\\n\\nOpção de copy selecionada pelo cliente:\\n- Ângulo: ${selected_option.angle}\\n- Headline: ${selected_option.headline}\\n- Corpo: ${selected_option.body}\\n- CTA: ${selected_option.cta}\\n\\n${formatInstructions}\\n\\nResponda APENAS em JSON válido com a estrutura adequada para o formato \"${format}\".`,\n    job_id: body.job_id,\n    format,\n    canal\n  }\n}];"
      },
      "id": "build-generation-prompt",
      "name": "Code: Montar Prompt de Geração",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 300]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 3000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.prompt) }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "claude-generate-content",
      "name": "Claude: Gerar Conteúdo Final",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "jsCode": "const claudeResponse = $input.item.json;\nconst rawContent = claudeResponse.content[0].text;\nconst jobId = $('Code: Montar Prompt de Geração').item.json.job_id;\nconst format = $('Code: Montar Prompt de Geração').item.json.format;\n\nconst jsonMatch = rawContent.match(/{[\\s\\S]*}/);\nif (!jsonMatch) {\n  throw new Error('Claude response did not contain valid JSON');\n}\n\nconst parsed = JSON.parse(jsonMatch[0]);\n\nreturn [{\n  json: {\n    job_id: jobId,\n    output_type: format,\n    output_metadata: parsed,\n    output_url: null\n  }\n}];"
      },
      "id": "parse-content",
      "name": "Code: Parsear Conteúdo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/ai_agent_jobs?id=eq.{{ $json.job_id }}",
        "method": "PATCH",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"status\": \"completed\",\n  \"output_type\": \"{{ $json.output_type }}\",\n  \"output_metadata\": {{ JSON.stringify($json.output_metadata) }},\n  \"output_url\": {{ $json.output_url ? JSON.stringify($json.output_url) : 'null' }}\n}",
        "options": {}
      },
      "id": "update-status-completed",
      "name": "Supabase: Status = completed + salvar conteúdo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/ai_agent_jobs?id=eq.{{ $('Webhook: Receber Seleção').item.json.body.job_id }}",
        "method": "PATCH",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\"status\": \"failed\", \"error_message\": \"{{ $json.message || 'Erro na geração de conteúdo' }}\"}",
        "options": {}
      },
      "id": "handle-error-2",
      "name": "Supabase: Status = failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 520]
    }
  ],
  "connections": {
    "Webhook: Receber Seleção": {
      "main": [
        [
          { "node": "Resposta Imediata 202", "type": "main", "index": 0 },
          { "node": "Supabase: Status = generating", "type": "main", "index": 0 }
        ]
      ]
    },
    "Supabase: Status = generating": {
      "main": [
        [{ "node": "Code: Montar Prompt de Geração", "type": "main", "index": 0 }]
      ]
    },
    "Code: Montar Prompt de Geração": {
      "main": [
        [{ "node": "Claude: Gerar Conteúdo Final", "type": "main", "index": 0 }]
      ]
    },
    "Claude: Gerar Conteúdo Final": {
      "main": [
        [{ "node": "Code: Parsear Conteúdo", "type": "main", "index": 0 }]
      ]
    },
    "Code: Parsear Conteúdo": {
      "main": [
        [{ "node": "Supabase: Status = completed + salvar conteúdo", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["imobcreator", "ai-agents"],
  "triggerCount": 0,
  "updatedAt": "2026-03-22T12:00:00.000Z",
  "versionId": "1"
}
